@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-LightItalic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em;
  font-weight: normal;
  font-style: normal;
}

pre {
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.navbar {
  padding-left: 2em;
}

.hero-container {
  padding: 9em 0em 5em 0em;
  background-color: #33425b;
}

.hero {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.comment {
  color: #a6a6a6;
  /* margin-bottom: .5em; */
}
.motto {
  font-size: 1.2em;
  display: block;
  margin: 0 auto;
}

.cyan {
  color: #4bbad8;
}

.light-blue {
  color: #4786d8;
}

.pink {
  color: #a8599b;
}

.orange {
  color: #ed9a42;
}

.dropdown-item {
  color: #33425b;
}

.motto > code {
  color: #f8fcfb;
}

pre {
  color: #f8fcfb;
}

.section {
  padding: 2em;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 540px;
}

.welcome {
  border: none;
  text-align: center;
  border-bottom: 1px solid #a3a6a8;
  border-radius: 0;
  margin-bottom: 1em;
}

.section h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 0.7em;
}

.image {
  display: block;
  align-items: center;
  margin: 0 auto 1.5em auto;
  height: 10em;
  width: 10em;
  border-radius: 50%;
}

.section p,
.section ul,
.section ol,
.section figure {
  margin-bottom: 1em;
}

.section p:last-child,
.section ul:last-child,
.section ol:last-child,
.section figure:last-child {
  margin-bottom: 0;
}

footer {
  background-color: #6892d5;
}

footer p {
  font-size: 1.2em;
  color: #fff;
  padding-top: 0.5em;
  text-align: center;
}

.social-icons a {
  color: #fff;
}

.social-icons ul {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 0;
  margin: auto;
}

.social-icons li {
  padding-bottom: 1em;
  list-style-type: none;
  color: #fff;
}

.projects-container {
  padding: 2em 1em;
  margin: 0 auto;
  max-width: 540px;
}

.projects {
  margin-top: 1em;
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
}

.projects-container h2 {
  text-align: center;
}

.project-img {
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0px;
  height: 80%;
  width: 100%;
}

.window {
  border: 1px solid #a3a6a8;
  border-radius: 0.2em;
  margin: 1em auto;
  display: block;
  background-color: #f8fcfb;
}

.window-header {
  padding: 0.5em 0;
  height: 1.5em;
  height: 20%;
  background-color: #a3a6a8;
}

.buttons {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.5em;
  max-width: 3em;
}

.exit-button {
  width: 0.8em;
  height: 0.8em;
  background-color: #ff8080;
  border-radius: 50%;
}

.max-button {
  width: 0.8em;
  height: 0.8em;
  background-color: #ffe680;
  border-radius: 50%;
}

.min-button {
  width: 0.8em;
  height: 0.8em;
  background-color: #70db70;
  border-radius: 50%;
}

@media only screen and (min-width: 580px) {
  .section {
    margin: 4em auto;
    padding: 2.5em 3em;
  }
  .section--gray:first-of-type,
  .section--gray {
    border: 1px solid #d6d9dc;
  }
  .section--blue:first-of-type,
  .section--blue {
    border: 1px solid #b2d6ff;
  }
  .section--red:first-of-type,
  .section--red {
    border: 1px solid #f09a9d;
  }
  .image {
    height: 12em;
    width: 12em;
  }
}

@media only screen and (min-width: 750px) {
  .window {
    border: 1px solid #a3a6a8;
    border-radius: 0.2em;
    display: block;
    background-color: #f8fcfb;
  }

  .navbar {
    padding-left: 5em;
  }

  .project-img {
    border: 2px solid #a3a6a8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px;
    height: 152px;
    width: 233px;
  }

  .window-header {
    height: 1.5em;
    background-color: #a3a6a8;
  }

  .buttons {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5em;
    max-width: 3em;
  }

  .exit-button {
    width: 0.8em;
    height: 0.8em;
    background-color: #ff8080;
    border-radius: 50%;
  }

  .max-button {
    width: 0.8em;
    height: 0.8em;
    background-color: #ffe680;
    border-radius: 50%;
  }

  .min-button {
    width: 0.8em;
    height: 0.8em;
    background-color: #70db70;
    border-radius: 50%;
  }

  .image {
    height: 15em;
    width: 15em;
  }

  .section {
    border-radius: 5px;
    margin: 0 auto;
    max-width: 70%;
  }

  .motto {
    font-size: 2em;
  }

  .welcome {
    border: none;
    margin-bottom: 1em;
  }

  .projects {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .social-icons ul {
    width: 30%;
  }

  .social-icons li {
    font-size: 2em;
  }
}
